<h2>カゴのなか</h2>

<%= if Enum.empty?(@content.items) do %>
<p>空っぽです</p>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th>お品物</th>
      <th>お値段</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- @content.items do %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= button("適当に商品を入れる", to: basket_item_path(@conn, :create, @basket_id), class: "btn btn-primary") %>
